<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="notes-header">
            <h1><a href="/" style="text-decoration: none; color: steelblue">My Notes</a></h1>
            <div class="header-actions">
                <a href="/auth/register" class="reg-log-btn">Register</a>
            </div>
        </div>
        <div class="note">
            <form id="login-form" method="POST" action="/auth/login">
                <input type="email" id="email" name="email" placeholder="Email"><br><br>
                <input type="password" minlength="6" id="password" name="password" placeholder="Password"><br><br>
                <div id="error-div"></div>
                <input type="submit" value="Login">
            </form>
        </div>

        <script>
            const form = document.getElementById("login-form");

            form.addEventListener("submit", async function(e) {
                e.preventDefault();

                formData = new FormData(form);

                const body = {
                    email: formData.get("email"),
                    password: formData.get("password")
                }

                try {
                    const response = await fetch("/auth/login", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(body)
                    });

                    if(!response.ok) {
                        const error = await response.json();
                        document.getElementById("error-div").textContent = error.message;
                    } else {
                        window.location.href = "/notes";
                    }
                } catch {
                    document.getElementById("error-div").textContent = "Unable to connect to server.";
                }
            });
        </script>
    </body>
</html>